:root{
    /* CSS HEX */
    /* main colors */
    --martinique: hsl(240, 24%, 29%);
    --alabaster: hsl(0, 0%, 98%);
    --mandy: hsl(352, 82%, 62%);
    --ronchi: hsl(47, 85%, 63%);
    --santas-gray: hsl(244, 9%, 64%);
    --tonys-pink: hsl(356, 59%, 76%);

    /* --ghost: hsl(245, 12%, 81%);
    --khaki: hsl(46, 77%, 76%);
    --silver-tree: hsl(158, 33%, 55%); */
}