@media (max-width:760px) {
    .about {
        .section_content {
            flex-direction: column;
            .pic {
                display: none;
            }
        }
    }
    .education {
        .section_content {
            text-align: center;
            .row {
                flex-direction: column-reverse;
            }
            button {
                display: block;
                margin: 0 auto;
            }
        }
    }
    .portfolio {
        .section_content {
            .portfolio__content {
                width: 100%;
                margin: 10px auto;
            }
        }
    }
}

// @media (max-width:860px) {
//     // .about {
//     //     .section_content {
//     //         flex-direction: column;
//     //         .pic {
//     //             display: none;
//     //         }
//     //     }
//     // }
//     .education {
//         .section_content {
//             text-align: center;
//             .row {
//                 flex-direction: column-reverse;
//             }
//             button {
//                 display: block;
//                 margin: 0 auto;
//             }
//         }
//     }
//     .portfolio {
//         .section_content {
//             .portfolio__content {
//                 width: 100%;
//                 margin: 10px auto;
//             }
//         }
//     }
// }