@use '../custom' as *;
// GRADIENT MIXIN 
@mixin gradient {
    background: $primary; //linear-gradient(to right, rgba($primary, 0.95), rgba($secondary, 0.55));
}

// ABSOLUTE CENTER 
@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// TRANSITION PROPERTY 
@mixin transitionProperty {
    // transition-duration: .5s;
    // transition-property: all;

    transition: all 0.3s ease;
}

@mixin card {
    border-radius: 15px;
    padding: 13px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}