@use '../custom' as *;
@use '../utils/mixins' as *;
.education {
    
    .section_content {
        display: flex;
        justify-content: space-evenly;
        column-gap: 20px;

        .ercept{
            min-width: 300px;
            max-width: 100%;
            @include card;

            display: flex;
            align-items: center;
            // justify-content: center;
            column-gap: 15px;
            .logo{
                height: 80px;
                width: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px;

                img{
                    width: 100%;
                    height: auto;
                }
            }

            h3{
                font-size: $medium;
                margin: 0;
                font-weight: 600;
            }
            span{
                font-size: $regular;
                color:$gray-300;
                margin-left: 10px;
                font-style: italic;

            }
        }
        
    }
}

@media (max-width:760px) {
    .education {

        .section_content {

            flex-direction: column;

            row-gap: 20px;

            .ercept {
                min-width: 80%;
                span {
                    margin-left: 0px;
                    text-align: left;

                }
            }

        }
    }
}