@use '../custom' as *;
@use '../utils/mixins' as *;
.education {
    // position: relative;
    // //pt-2 pb-2 mt-0 mb-3
    // padding: 20px 0;
    // margin-top: 0;
    // margin-bottom: 30px;
    .section_content {
        width: 780px;
        max-width: 80%;
        margin: 20px auto;
        // background: green;
        .row {
            align-items: center;
            justify-content: center;
        }
        .content {
            margin-left: 10px;
            // width: 80%;
        }
        .duration {
            margin: 0;
            font-size: 14px;
        }
        .pic {
            width: 250px;
            max-width: 90%;
            margin: 0 auto;
            img {
                width: 100%;
                height: auto;
            }
        }
        @include card;
    }
}

@media (max-width:760px) {
    .education {
        .section_content {
            .content {
                margin: 20px 0;
                h3 {
                    font-size: 20px;
                }
                margin-left: 0px;
                width: 100%;
            }
            @include card;
        }
    }
}