
@use '../utils/variables' as *;


footer {
    margin-top: 200px;
    background-color: $primary;


    width: 100%;
    

    .footer_top {
        background: $secondary;
        padding: 5px 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p{
            margin: 5px 0;
            font-size: $regular;
            font-weight: 500;
            color:$gray-400;
        }

        .right{
            display: flex;
            align-items: flex-end;
            flex-direction: column;
        }
    }

    .footer_bottom {
        background: transparent;
        background-color: $primary;
        width: 100%;
        padding: 15px 25px;

        color: $gray-200;
        font-weight: 700;

        display: flex;
        align-items: center;
        justify-content: space-between;

        &__copyright{
            color: $gray-200;
            font-weight: 500;
            font-size: $small;
            font-style: italic;
        }

        span{
            margin: 0;
            min-width: 100px;
        }
    }
}


@media (max-width:760px) {
    footer {
            margin-top: 100px;
    
    
            .footer_top {
                background: $secondary;
                padding: 5px 30px;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                row-gap: 15px;
    
    
                .right {
                    align-items: center;
                }
            }
    
            .footer_bottom {
                background: transparent;
                background-color: $primary;
                width: 100%;
                padding: 15px 25px;
    
                color: $gray-200;
                font-weight: 700;
    
                display: flex;
                align-items: center;
                flex-direction: column-reverse;
                justify-content: center;
    
                
            }
        }
}
