@use '../utils/variables' as *;

.hero {
    
    padding-top: 10rem;// 0 0 0;
    width: 100%;
    max-width: 100%;
    
    background: $primary;
    color: $white;

    svg {
        border: 0;
    }

    h3 {
        font-size: $large+5;
        margin: 10px 0;
        font-weight: 600;
    }

    p {
        padding: 10px 2px;
        font-size: $medium;
        font-style: italic;
        font-weight: 400;
    }

    &--info {
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }

    .dp__container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
        }
    }
}

@media (max-width: 760px) {
    .intro--info {
        justify-items: center;
        text-align: left;
        flex-direction: column-reverse;
        max-width: 100%;
        width: 100%;
        margin: 0;
        padding: 0;

        h3 {
            font-size: $large;
        }
        p{
            font-size: $small+3;
        }

        .dp__container {
            margin-bottom: 20px;
            max-height: 300px;
            overflow: hidden;
        }

        button {
            margin: 0 auto;
        }
    }
}