@use '../custom' as *;
@use '../utils/mixins' as *;
.intro {
    @include gradient;
    padding: 10rem 0 0 0;
    width: 100%;
    max-width: 100%;
    color: $white;
    svg {
        border: 0;
    }
    &--info {
        width: 100%;
        align-items: center;
        justify-content: space-around;
        // padding: 0 20px;
        // h1 {
        //     font-size: 50px;
        // }
        .dp__container {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            img {
                max-width: 100%;
                height: auto;
                border-radius: 10px;
            }
            // .border-animation {
            //     position: absolute;
            //     display: block;
            //     top: 0;
            //     left: 0;
            //     width: 18rem;
            //     height: 18rem;
            //     border: 0.55rem solid $white;
            //     border-radius: 50%;
            //     animation: pulse-border 1.5s linear infinite;
            //     &--border-1 {
            //         animation-delay: 1s;
            //     }
            //     &--border-2 {
            //         animation-delay: 1.5s;
            //     }
            // }
        }
    }
}

@media (max-width: 760px) {
    .intro--info {
        justify-items: center;
        text-align: center;
        flex-direction: column-reverse;
        max-width: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        h1 {
            font-size: 30px;
        }
        .dp__container {
            margin-bottom: 20px;
            max-height: 300px;
            overflow: hidden;
        }
        button {
            margin: 0 auto;
        }
    }
}