@use '../utils/variables' as *;
@use '../utils/mixins' as mixins;

.portfolio {
    .section_content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;

        row-gap: 50px;

        .portfolio__content {
            @include mixins.card;

            width: 320px;
            min-height: 460px;

            max-width: 90%;
            padding: 0;

            .image {
                height: 200px;
                overflow: hidden;
                border-radius: 15px 15px 0 0;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            
            &--info {
                // margin-top: 10px;
                padding: 13px;
                .caption {
                    font-size: $medium;
                    text-align: center;
                    font-weight: 500;
                }
                .category--platform {
                    margin: 10px 0;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    flex-wrap: nowrap;
                    font-size: $small;
                    color: $gray-400;

                    .platform {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .ifon{
                            margin: 0 5px;
                            display: block;
                            &:last-of-type {
                                margin-right: 0;
                            }

                        }
                    }
                }
                .info {
                    font-size: $regular;
                    padding: 5px 0;
                    color: $gray-500;
                }
                .cta {
                    display: flex;
                    align-items: center;
                    // justify-content: space-evenly;
                    flex-wrap: wrap;

                    row-gap: 10px;
                    column-gap: 5px;

                    a {
                        padding: 10px;
                        border-radius: 10px;

                        font-size: $small;
                        background: $primary;
                        color: $white;
                        
                        display: flex;
                        flex-direction: row-reverse;

                        align-items: center;
                        justify-content: space-evenly;

                        i{
                            margin-right: 10px;
                        }
                        // margin: 0 10px;
                    }
                }
            }
        }
    }
}

@media (max-width:760px) {
    .portfolio {
        .section_content {
            justify-content: center;
        }
    }
}