@use '../custom' as *;
@use '../utils/mixins' as *;
.portfolio {
    .section_content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        column-gap: 25px;
        row-gap: 30px;
        .portfolio__content {
            @include card;
            width: 300px;
            max-width: 80%;
            padding: 0;
            .image {
                height: 210px;
                overflow: hidden;
                border-radius: 15px 15px 0 0;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            &:last-of-type {
                align-self: start;
            }
            &--info {
                // margin-top: 10px;
                padding: 13px;
                .caption {
                    font-size: 20px;
                    text-align: center;
                }
                .category--platform {
                    margin: 10px 0;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    font-size: 14px;
                    color: $deep-grey;
                    .platform {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        i {
                            margin-right: 5px;
                            &:last-of-type {
                                margin-right: 0;
                            }
                        }
                    }
                }
                .info {
                    font-size: 18px;
                }
                .cta {
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                }
            }
        }
    }
}