@use '../utils/variables' as *;
@use '../utils/mixins' as mixins;

.techstacks {

    $carouselHeight: 300px;

    .section_content{
        background-color: $primary;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        // flex-direction: column;

        position: relative;

        padding: 0 100px;
    }

    .control {
        // display: block;
        // height: $carouselHeight;

        position: absolute;
        top: 0;

        width: 100px;
        height: 100%;
        margin: 0;


        @include mixins.transitionProperty;

        &:first-of-type{
            left: 0;
        }
        &:last-of-type{
            right: 0;
        }


        
        display: flex;
        align-items: center;
        justify-content: center;

        color: $white;
        cursor: pointer;
        
        i{
            font-size: $extraLarge;
            visibility: hidden;
        }

        // background-color: red;
        &:hover {
            background-color: $primary;
            i{
                visibility: visible;
            }   
            
        }
    }

    .stack_carousel{
        padding: 20px 5px;
        width: 90%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .stack_info {
            display: flex;
            column-gap: 80px;
            padding: 20px 25px;

            color: $white;

            h3{
                font-size: $large;
                margin-bottom: 5px;
            }

            h4{
                margin: 30px 0 25px 0;
                font-size: $regular;
                font-weight: 600;
            }

            & span{
                color: $gray-300;
                font-size: $small;
                margin: 0px 0 0px 10px;
            }

            & article{
                margin: 15px 10px 15px 10px;
                font-size: $regular;
                font-weight: 500;
                color: $gray-200;
            }

        }
    
        .tech_logo {
            width: 400px;
            display: flex;
            justify-content: center;
    
            img {
                margin-top: 20%;
                width: 100%;
                max-height: 100%;
            }
        }

        .paginers{
            display: flex;
            margin-top: 20px;
            column-gap: 10px;
            span{
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: $white;
                cursor: pointer;

            }
        }
    }
    
    .stack_listing {
        display: flex;
        align-items: center;
        row-gap: 15px;
        flex-wrap: wrap
    }

    .stack__logo-box {
        height: 35px;
        margin: 0 5px;
        padding: 5px;
        text-align: center;
        position: relative;

        img {
            width: 100%;
            height: 100%;

            &:hover {
                filter: grayscale(120);
            }
        }
    }
}

@media (max-width:760px){
    .techstacks {
    
        .section_content {
            padding: 0;
            width: 100%;
            margin-left:0 ;
            margin-right:0 ;
        }
    
            .control {
    
                width: 50px;
    
                i {
                    font-size: $large;
                }
            }
    
            .stack_carousel {
                width: 100%;
    
                .stack_info {
                    flex-direction: column;
                    row-gap: 30px;
                    padding: 20px 10px;

                    width: 100%;

                    & article {
                        margin: 20px 0;
                    }
    
                }
    
                .tech_logo {
                    width: 180px;
                    margin: 0 auto;
                    max-width: 100%;
                }

            }
    
            .stack_listing {
                row-gap: 10px;
            }
    
            .stack__logo-box {
                height: 30px;
            }
        }
}